/* GLOBALS */

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif !important;
    background-color: var(--clear) !important;
    color: var(--main-text);
}

/* TEXT */

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.01em;
}

h1 { font-size: 45px; font-weight: 900; }
h2 { font-size: 30px; font-weight: 900; }
h3 { font-size: 20px; font-weight: 900; }
h4 { font-size: 16px; font-weight: 500; }
h5 { font-size: 14px; font-weight: 500; }
h6 { font-size: 13px; font-weight: 500; }
p { font-size: 14px; }

.light { color: var(--light-text); }
.lighter { color: var(--lighter-text); }
.accent-1 { color: var(--accent-1); }
.accent-2 { color: var(--accent-2); }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.black { font-weight: 900; }
.center { text-align: center; }

/* FORM CONTROLS */

/* FONTS */
