@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vocdoni-primary: #6a759e;
}

* {
    font-family: "Manrope", sans-serif;
}

.bg-translucent {
    background-color: rgba(255, 255, 255, 0.75);
}

.text-vocdoni {
    color: var(--vocdoni-primary);
}

.bg-vocdoni {
    @apply text-white;
    background-color: var(--vocdoni-primary);
}

.bg-vocdoni {
    border-color: var(--vocdoni-primary);
}

button {
    @apply p-4 transition-colors duration-200 border border-transparent shadow-lg rounded-xl focus:outline-none;
}

button[disabled] {
    @apply text-gray-700 bg-gray-100 cursor-default;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

button.main-action {
    @apply font-semibold text-white bg-green-500 hover:bg-green-600;
}

span.animate-spin {
    display: inline-block;
}

span.vote-icon {
    filter: hue-rotate(172deg) saturate(60%);
}

span.faqs-icon {
    filter: grayscale(100%);
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 100%;
    max-width: 100%;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 800px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
